{% extends "layouts/application.twig" %}

{% set title = 'Profil' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ base_url() }}">Ekran główny</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
            <nav class="navbar navbar-expand navbar-white navbar-light border mb-2 p-1">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ base_url() }}" class="nav-link">
                            <i class="fas fa-reply"></i> Wróć
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-edit"></i> Edycja profilu</h3>
                </div>
                {{ form_open() }}
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" value="{{ user.email }}" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label for="inputFullName">Imię i nazwisko</label>
                        <input type="text" name="full_name" id="inputFullName" class="form-control{{ form_error('full_name') ? ' is-invalid'}}" value="{{ set_value('full_name', user.full_name) }}">
                        {{ form_error('full_name') }}
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Hasło</label>
                        <input type="password" name="password" id="inputPassword" class="form-control{{ form_error('password') ? ' is-invalid'}}" placeholder="Hasło">
                        {{ form_error('password') }}
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword">Powtórz hasło</label>
                        <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control{{ form_error('confirm_password') ? ' is-invalid'}}" placeholder="Powtórz hasło">
                        {{ form_error('confirm_password') }}
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <a href="{{ base_url() }}" class="btn btn-default"><i class="fa fa-times"></i> Anuluj</a>
                    <button type="submit" name="update_profile" class="btn btn-primary float-right" value="true">
                        <i class="fas fa-sync"></i> Zapisz
                    </button>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </section>
{% endblock %}
