{% extends "layouts/application.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="{{ base_url('plugins/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet">
    <link href="{{ base_url('plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.css') }}" rel="stylesheet">
    <link href="{{ base_url('plugins/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ base_url('plugins/icheck/skins/square/_all.css') }}" rel="stylesheet">
    <link href="{{ base_url('plugins/ekko-lightbox/ekko-lightbox.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>Page title <small>sub title</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> </li>
            <li><a href="#">Page</a></li>
            <li class="active">Sub page</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Title</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <a href="#" class="btn btn-box-tool" target="_blank" title="Print"><i class="fa fa-print"></i></a>
                        <a href="#" class="btn btn-box-tool" title="Download PDF"><i class="fa fa-download"></i></a>
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="Menu">
                            <i class="fa fa-bars"></i> Menu
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <h3>{{ title }}</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti veniam consectetur obcaecati, expedita debitis a dolore, cum eum sequi necessitatibus molestiae consequatur. Qui architecto amet dolor deleniti consequuntur aperiam facilis obcaecati, repudiandae sit minus libero enim debitis ea fugit, voluptatibus quibusdam necessitatibus corporis quasi? Esse, ipsam minima. Aliquid corrupti cupiditate deserunt. Veritatis quae delectus, dolorum consequuntur ratione sapiente numquam. In quas excepturi ullam consectetur eveniet commodi corporis debitis, repellat ea tenetur eligendi optio modi a obcaecati illo nam nostrum magni aspernatur repellendus eos vel sequi exercitationem. Ratione cumque molestiae culpa rem consequuntur voluptatibus modi omnis reiciendis aperiam maxime adipisci molestias unde maiores quidem assumenda ipsum recusandae, repudiandae ducimus magni, nam nihil nesciunt inventore. Rem aspernatur ipsum tempore illo earum adipisci. Nihil at cum rerum neque obcaecati ipsum animi facilis quibusdam nisi nam ad enim cupiditate similique ullam, adipisci magni voluptas iste aliquam? Ullam, assumenda hic? A cum laboriosam sequi voluptatum obcaecati ab repudiandae est tenetur omnis quas! Autem dignissimos beatae iure ipsum ratione maxime in aspernatur enim consequatur earum id porro veniam placeat, ipsam rem impedit deleniti illum dolor aperiam soluta. Ducimus, fugit asperiores obcaecati distinctio voluptatibus nihil rem dolorum reprehenderit quas voluptatum architecto sint. Ad mollitia praesentium ipsa dignissimos.</p>
            </div>
            <div class="box-footer">
                <a href="#" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url('plugins/ekko-lightbox/ekko-lightbox.min.js') }}"></script>
    <script src="{{ base_url('plugins/bootstrap-3-typeahead/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ base_url('plugins/moment/moment-with-locales.min.js') }}"></script>
    <script src="{{ base_url('plugins/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ base_url('plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
    <script src="{{ base_url('plugins/bootstrap-table/bootstrap-table-locale-all.min.js') }}"></script>
    <script src="{{ base_url('plugins/bootstrap-table/extensions/export/bootstrap-table-export.js') }}"></script>
    <script src="{{ base_url('plugins/bootstrap-table/extensions/cookie/bootstrap-table-cookie.min.js') }}"></script>
    <script src="{{ base_url('plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.min.js') }}"></script>
    <script src="{{ base_url('plugins/tableexport.jquery.plugin/tableExport.min.js') }}"></script>
    <script src="{{ base_url('plugins/icheck/icheck.min.js') }}"></script>
{% endblock %}
