{% extends "layouts/application.twig" %}

{% set title = 'Użytkownicy' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Użytkownicy</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ base_url() }}">Ekran główny</a></li>
                        <li class="breadcrumb-item active">Użytkownicy</li>
                    </ol>
                </div>
            </div>
            <nav class="navbar navbar-expand navbar-white navbar-light border mb-2 p-1">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ base_url() }}" class="nav-link">
                            <i class="fas fa-reply"></i> Wróć
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ base_url('users/create') }}" class="nav-link">
                            <i class="fa fa-user-plus"></i> Dodaj użytkownika
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-users"></i> List of users</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Is admin</th>
                        <th>Created</th>
                        <th>Last activity</th>
                        <th>Edit</th>
                    </tr>
                    {% for user in users %}
                        <tr {% if user.deleted_at %}class="text-red"{% endif %}>
                            <td>
                                {{ loop.index }}
                                {% if user.deleted_at %}<i class="fa fa-times"></i>{% endif %}
                            </td>
                            <td>{{ user.full_name }}</td>
                            <td><a href="mailto:{{ user.email }}" title="{{ user.full_name }}" target="_blank">{{ user.email }}</a></td>
                            <td>{{ user.is_admin ? 'Yes' : 'No' }}</td>
                            <td>{{ user.created_at|date('d-m-Y') }}</td>
                            <td>{{ user.last_activity ? user.last_activity|date('d-m-Y H:i') : 'N/A' }}</td>
                            <td>
                                <a href="{{ base_url('users/edit/'~user.id) }}" class="btn btn-link btn-sm">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="card-footer">
                    <a href="{{ base_url() }}" class="btn btn-default"><i class="fa fa-reply"></i> Wróć</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
